@font-face {
  font-family: "Brandon Text Black";
  src: url("../fonts/brandon-text-black.otf");
}

html,
body {
  height: 200vh;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #ff9595;
  color: #342b38;
}

h1,
h2,
h3,
ul {
  margin: 0;
}

h1 {
  font-family: "Merriweather", serif;
  font-weight: 900;
}
h2 {
  font-family: "Merriweather", serif;
  font-weight: 400;
}
h3 {
  font-weight: 600;
}
ul {
  font-weight: 300;
}

a {
  text-decoration: none;
  font-weight: 700;
}

:link,
:visited {
  color: #cb5858;
}

/* Wrapper */

#wrapper {
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
}

/* Welcome! */

#welcome {
  position: absolute;

  font-family: "Brandon Text Black", sans-serif;
  text-align: center;
  color: #fff;
  font-size: 36px;
  white-space: nowrap;
}

#welcome > * {
  margin: 0;
}

/* Title */

#title-container {
  position: absolute;
  width: fit-content;
  height: fit-content;

  display: flex;
  white-space: nowrap;
}

.derek {
  height: 405px;
}

/* What he does */

#what-he-does {
  position: absolute;
  width: fit-content;
  height: fit-content;
  padding: 24px;
}

/* Footer */

footer {
  position: absolute;
  top: 200vh;
  display: flex;
  justify-content: center;
}

@media (min-width: 875px) {
  /* Scrollbar */
  body::-webkit-scrollbar {
    display: none;
  }
  body {
    -ms-overflow-style: none;
  }

  /* Fonts */

  h1 {
    font-size: 72px;
  }
  h2 {
    font-size: 48px;
  }
  h3 {
    font-size: 48px;
  }
  ul {
    font-size: 36px;
  }

  /* Title */

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 24px;
  }
}

@media (max-width: 874px) {
  body {
    text-align: center;
    font-size: 18px;
  }

  h3 {
    font-size: 28px;
  }

  ul {
    list-style: none;
    padding: 0;

    font-size: 24px;
  }

  #title-container {
    flex-direction: column;
  }
}
